# Project Objective: Dish Washers

## Module 1: DATA COLLECTION

#### Step 1.1 Import the required libraries

In [1]:
import pandas as pd

#### Step 1.2 Load the Data as a DataFrame

In [3]:
washerscsv = pd.read_csv("washers.csv")

In [6]:
washerscsv.head()

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No

In [4]:
washerscsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             261 non-null    int64
 1   BrandName      261 non-null    object
 2   ModelNumber    261 non-null    object
 3   UPC            261 non-null    object
 4   Configuration  261 non-null    object
 5   Features       202 non-null    object
 6   Market         261 non-null    object
 7   Volume         261 non-null    float64
 8   IMEF           261 non-null    float64
 9   MinimumIMEF    261 non-null    float64
 10  EnergyUse      261 non-null    int64
 11  IWF            261 non-null    float64
 12  MaximumIWF     261 non-null    float64
 13  WaterUse       261 non-null    int64
 14  DateAvailable  261 non-null    object
 15  DateCertified  261 non-null    object
 16  Countries      261 non-null    object
 17  MostEfficient  261 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 36.8+ KB

In [5]:
washerscsv.describe()

,ID,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse
count,2.610000e+02,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,2.320802e+06,4.374713,2.456820,1.591341,129.214559,3.598851,6.372797,4632.727969
std,1.574793e+04,0.965866,0.380599,0.274261,43.850620,0.538265,1.845032,1292.693059
min,2.300602e+06,1.900000,2.060000,1.290000,60.000000,2.700000,4.700000,1728.000000
25%,2.310408e+06,4.300000,2.060000,1.290000,99.000000,3.200000,4.700000,3852.000000
50%,2.310499e+06,4.500000,2.380000,1.840000,120.000000,3.600000,4.700000,4429.000000
75%,2.332089e+06,5.000000,2.920000,1.840000,150.000000,4.300000,8.400000,5632.000000
max,2.359624e+06,6.200000,3.100000,1.840000,311.000000,4.300000,8.400000,7827.000000

## Module 2: DATA EXPLORATION

In [8]:
washerscsv[['BrandName']].describe()

       BrandName
count        261
unique        22
top           LG
freq          50

#### The method value_count

In [11]:
washerscsv[['BrandName']].value_counts()

BrandName
LG                 50
GE                 49
Samsung            47
Kenmore            30
Whirlpool          26
Maytag             18
Electrolux          7
Bosch               4
Miele               4
Asko                4
Beko                3
Blomberg            3
Crosley             3
Midea               2
Magic Chef          2
Amana               2
Fisher & Paykel     2
Insignia            1
Inglis              1
Gaggenau            1
GE Adora            1
Haier               1
Name: count, dtype: int64

In [12]:
washerscsv[['BrandName']].value_counts(normalize = True)

BrandName
LG                 0.191571
GE                 0.187739
Samsung            0.180077
Kenmore            0.114943
Whirlpool          0.099617
Maytag             0.068966
Electrolux         0.026820
Bosch              0.015326
Miele              0.015326
Asko               0.015326
Beko               0.011494
Blomberg           0.011494
Crosley            0.011494
Midea              0.007663
Magic Chef         0.007663
Amana              0.007663
Fisher & Paykel    0.007663
Insignia           0.003831
Inglis             0.003831
Gaggenau           0.003831
GE Adora           0.003831
Haier              0.003831
Name: proportion, dtype: float64

In [10]:
washerscsv[['Configuration']].describe()

       Configuration
count            261
unique             2
top       Front Load
freq             143

In [14]:
washerscsv[['Volume']].mean()

Volume    4.374713
dtype: float64

## Module 3: DATA VISUALIZATION

## Module 4: DATA MODELLING

## Module 5: DATA OPTIMIZATION